body {
    background-color: rgb(84, 23, 205);
    color: rgb(12, 227, 216);
    text-align: center;
}

h1 {
    color: rgb(12, 227, 216);
    font-size: xx-large;
    font-style: unset;
}

h3 {
    color: palevioletred;
    font-size: xx-large;
}

h5 {
    color: palevioletred;
    font-size: xx-large;
    border: 10px solid rgb(12, 227, 216);
    width: 180px;
    height: 60px;
    margin: auto;

}

.ison {
    font-size: xx-large;
}

button {
    border-radius: 10px;
    width: 80px;
    height: 50px;
    margin: auto;
    border: 5px solid rgb(12, 227, 216);
    border-radius: 10px;
    cursor: pointer;
    background-color: palevioletred;
    font-style: inherit;
    margin-left: 10px;
    margin-top: 30px;


}

.start {
    font-size: 50px;
    width: 80px;
    height: 80px;
}



.modal {
    display: none;
    background-color: rgb(238, 197, 148);
    color: black;
    font-size: medium;
    text-align: center;
    margin: auto;
    margin-top: 150px;
    border: 5px solid rgb(12, 227, 216);
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 100px;
    left: calc(50% - 175px);
}

table,
td {
    border: 6px solid rgb(12, 227, 216);
    border-collapse: collapse;
    margin: auto;
    margin-top: 30px;
    font-size: x-large;
    font-style: oblique;

}

.cell {
    width: 20px;
    height: 20px;
    text-align: center;
}

.board td {
    margin-top: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
    transition: 0.5s;
    padding: 10px;
}

.board td:hover {
    background-color: lightpink;
}

.occupied {
    background-color: lightgray;
}